body {
    /* margin: 0; */
    background: #E7A321;
    padding: 20px;
    font-size: 19px;
}
nav, footer{
    width: 100%;
    background: white;
}
.grey{
    background-color: gainsboro;
}
h3{
    color: rgb(241, 113, 45);
}
#facturation_page{
    padding: 6%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name, .display{
    display: flex;
    justify-content: space-around;
}
p{
    padding: 1%;
    font-size: small;
    color: gray;
    font-weight: bold;
}
.input{
    width: 25em;
    height: 2em;
    margin: 1vw;
}
.flex{
    display: flex;
    flex-direction: column;
}
#num{
    background-color: white;
    padding: 0.8%;
    border-radius: 0.5em;
}
#carte_Payement{
background-color: aliceblue;
width: 25em;
padding: 1%;
margin-left: 2%;
border-radius: 0.5em;
}
td{
    border: 1px solid gray;
    border-radius: 0.2em;
}
th, td{
    font-size:small;
    justify-content: center;
}
#payer{
    border: none;
    background-color: rgb(203, 35, 35);
    color: white;
    border-radius: 0.8em;
    margin-left: 38%;
    padding: 2%;
    width: 20%;
}
#payer:hover{
    scale: 1.05;
    background-color: rgb(238, 44, 44);
}
.card{
    width: 12%;
    margin: 2% 4.5%;
}
.radio{
    margin: 2%;
}
/*Vérification*/

#error {
    color: red;
    border: 1px solid red;
    padding-left: 10px;
    display: none;
}