body {
    margin: 0;
    font-size: 19px;
}

#bg {
    width: 100%;
}

.btnCommander {
    display: none;
}

nav {
    background: transparent !important;
}

.bar {
    font-size: 40px;
    margin-right: 40px;
    display: none;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

#header_text_content p {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#header_text_content {
    margin: 150px 20px 0 550px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#header_text_content button {
    cursor: pointer;
    padding: 15px 20px;
    font-size: 19px;
    border-radius: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: white;
}

#order {
    background: rgb(251, 161, 44);
    border: 2px solid rgb(251, 161, 44);
    transition: all 0.3s;
}

#order:hover {
    background: transparent;
    border: 2px solid rgb(251, 161, 44);
}

#best_seller_btn {
    background: transparent;
    border: 2px solid rgb(251, 161, 44);
    transition: all 0.3s;
}

#best_seller_btn:hover {
    background: rgb(251, 161, 44);
    border: 2px solid rgb(251, 161, 44);
}

h2 {
    margin: 40px;
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

#drink,
#starter,
#main,
#dessert {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.fich {
    position: relative;
    width: 27%;
    box-shadow: 0 0 15px #cccccc;
    border-radius: 14px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
}

.fich:hover {
    transform: scale(1.05);
}

.heart {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    font-size: 30px;
    transition: all 1s;
}

.heart:hover {
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.img {
    border-radius: 0.5em;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.description {
    border: 1px solid rgb(251, 161, 44);
    border-radius: 0.5em;
    font-size: 15px;
    padding: 10px;
}

.btnCommander {
    width: 12vw;
    color: #fff;
    background-color: rgb(251, 161, 44);
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btnCommander:hover {
    background-color: rgb(215, 156, 78);
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.flex_content {
    display: flex;
    justify-content: space-around;
}

.flex {
    display: flex;
    align-items: center;
}

.flex i {
    height: 100%;
    display: flex;
    align-items: center;
}

.quantity {
    margin: 15px;
    font-weight: bold;
}

.btnCommander {
    height: 100%;
    display: none;
}

.compteur {
    /* position: relative;
    z-index: -100;
    opacity: 0; */
    display: none;
}

.title {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

@media (max-width: 1230px) {
    #header_text_content {
        margin: 100px 20px 0 500px;
    }

    .fich {
        width: 45%;
    }
}

@media (max-width: 1151px) {
    nav ul {
        display: none;
    }

    nav .bar {
        display: flex;
        align-items: center;
    }


}

@media (max-width: 1102px) {
    #header_text_content {
        margin: 0px 20px 0 500px;
    }

    #drink,
    #starter,
    #main,
    #dessert {
        flex-wrap: wrap;
    }

    .fich {
        width: 40%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1050px) {
    #header_text_content {
        margin: 0px 20px 0 450px;
    }

    #header_text_content p {
        font-size: 26px;
    }

    .description {
        margin-top: 0;
    }
}

@media (max-width: 950px) {
    .fich {
        width: 45%;
    }
}

@media (max-width: 890px) {
    #header_text_content {
        margin: 30px 20px 0 400px;
    }

    #header_text_content p {
        font-size: 25px;
    }

}

@media (max-width: 845px) {
    #header_text_content {
        margin: 10px 20px 0 370px;
    }

    #header_text_content p {
        font-size: 24px;
    }
}

@media (max-width: 830px) {
    #header_text_content {
        margin: 0px 20px 0 370px;
    }
}

@media (max-width: 799px) {
    .fich {
        width: 60%;
    }

    #header_text_content p {
        font-size: 24px;
    }
}

@media (max-width: 700px) {
    .fich {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .fich {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .fich {
        width: 90%;
    }
}