@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    height: 170px;
    color: rgb(251, 161, 44);
    background-image: url(../assets/bg_header.jpg);
}

.bar {
    cursor: pointer;
}

.cross {
    font-size: 40px;
    margin-right: 40px !important;
    color: white;
}

#mobile_navbar {
    position: fixed;
    right: 0;
    z-index: 10;
    background: url("../assets/navbar.jpg");
    width: 100%;
    height: 1000px;
    color: black;
    display: none;
    transition: all 0.7s;
}

#mobile_navbar li {
    color: white;
    margin: 30px;
}

#mobile_navbar ol {
    margin: 20px 0;
    padding: 0;
}

#mobile_navbar_title {
    display: flex;
    align-items: center;
    justify-content: end;
    /* background: rgb(251, 161, 44); */
}

#mobile_navbar_title i {
    margin: 20px;
    cursor: pointer;
}

#mobile_navbar_title h1 {
    margin-left: 0;
}

h1 {
    font-family: 'Yeon Sung', cursive;
    font-size: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

.bar {
    font-size: 40px;
    margin-right: 40px;
    display: none;
}

@media (max-width: 890px) {

    nav {
        height: 130px;
    }
}

@media (max-width: 1151px) {
    nav ul {
        display: none;
    }

    nav .bar {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 799px) {
    nav {
        background-image: url("../assets/bg_header.jpg") !important;
    }

    #bg {
        display: none;
    }

    header {
        position: static;
    }

}