@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    height: 170px;
    color: rgb(251, 161, 44);
    background-image: url(../assets/bg_header.jpg);
}

#mobile_navbar {
    position: absolute;
    z-index: 10;
    background: rgb(251, 161, 44);
    width: 100%;
    height: 100%;
    color: black;
    display: none;
}
#mobile_navbar 
#mobile_navbar_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobile_navbar_title i {
    margin: 20px;
}

#mobile_navbar_title h1 {
    margin-left: 0;
}

h1 {
    font-family: 'Yeon Sung', cursive;
    font-size: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

@media (max-width: 890px) {

    nav {
        height: 130px;
    }
}