@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    height: 170px;
    color: rgb(251, 161, 44);
    background-image: url(../assets/bg_header.jpg);
}

nav li a:hover{
    color:gold;
    border-bottom: 2px solid gold;
}

h1 {
    font-family: 'Yeon Sung', cursive;
    font-size: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

@media (max-width: 890px) {

    nav {
        height: 130px;
    }
}



header h1{
	animation:rainbow 5s linear alternate infinite;
}

@keyframes rainbow{
	0%{ color:red }
	25%{ color:gold }
	50%{ color:yellow }
	75%{ color:rgb(251, 161, 44) }
	100%{ color:gold}
}